body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;

}
p,i,a,span{
    font-size: 16px;
    color: #a7a7a7;
    padding: 0;
    margin: 0;
    cursor: default;
}
.total{
    width: 100%;
    height: 100%;
}
.navbar_hidden{
    z-index: 10000;
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: rgb(68, 68, 68);
    top: 0;
}
.center{
    width: 900px;
    margin: auto;
    display: flex;
    height: 50px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 0;
}

li {
    float: left;
    margin: 0;
}

li a {
    display: block;
    color: #a7a7a7;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: 0.5s;
    border-bottom: 2px solid rgb(68, 68, 68);
}

li a:hover {
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 2px solid #500000;
}

.active {
    border-bottom: 2px solid #500000;
}
.center img:hover{
    cursor: pointer;
}

.info{
    color: #a7a7a7;
    background-color: #1f1f1f;
    width: 100%;
    height: 50px;
}
.in-info{
    margin: auto;
    width: 900px;
    height: 100%;
    background-color: #1f1f1f;
    display: flex;
    padding: 12px 0;
}
.in-info p, .in-info i{
    margin: 0 5px;
}
.social{
    display: flex;
    margin-right: 0;
    margin-left: auto;
}
.icon{
    margin: 0 5px;
    border-radius: 20%;
    background-color: #6f6f6f;
    color: #1f1f1f;
    padding-top: 5px;
    padding-left: 1px;
    transition: 1s;
    height: 22px;
}
.icon:hover{
    background-color: #500000;
    color: #a7a7a7;
    cursor: pointer;
    transition: 0.5s;
}
.icon i:hover{
    cursor: pointer;
}

/*head*/

.gg{
    width: 900px;
    margin: 20px auto;
}
.button{
    width: 200px;
    height: 50px;
    border: 2px solid #6f6f6f;
    margin: 30px auto;
    border-radius: 5px;
    color: #a7a7a7;
    font-size: 20px;
    transition: 1s;
}
.in_but{
    font-size: 20px;
    padding: 14px 0;
    text-align: center;
}
.button:hover{
    background-color: #6f6f6f;
    color: #1f1f1f;
}
.button:hover .in_but{
    cursor: pointer;
}

/*footer*/

.foot{
    height: 100px;
    width: 100%;
    background-color: rgb(68, 68, 68);
}
.foot_info{
    width: 900px;
    margin: auto;
}
.tit{
    font-weight: bold;
    font-size: 30px;
    color: #a7a7a7;
}
.tit_red{
    font-weight: bold;
    font-size: 30px;
    color: #500000;
}