body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #000000 0%, #180000 40%, #180000 60%, #000000 100%);


}
p,i,a,span{
    font-size: 16px;
    color: #ffe6e6;
    padding: 0;
    margin: 0;
    cursor: default;
}
.total{
    width: 100%;
    height: 100%;
}
.higt_header{
    width: 100%;
    height: 50px;
}
.navbar_hidden{
    z-index: 10000;
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: rgb(82, 70, 70);
    top: 0;
}
ul {
    width: 1200px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    top: 0;
}

li {
    float: left;
    margin: 0;
}

li a {
    display: block;
    color: #ffe6e6;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: 0.5s;
    border-bottom: 2px solid rgb(82, 70, 70);
}

li a:hover {
    color: #ffe6e6;
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 2px solid #ffe6e6;
}

.active {
    border-bottom: 2px solid #ffe6e6;
}